@charset "UTF-8";

/* 배너공간.. */
div.home {
	
	margin-top:80px;
	margin-bottom: 80px;
	width: 100%;
	float: left;
	
	position: relative;
	text-align: center;
/* 	border: dashed;
	border-color: purple; */
	
}


/* 가운데 메뉴 네비 */
div.midClassMenu {
	 width: 75%;
    margin: 0 auto;
    position: center;
    height: 100%;
	
}

div.midClassMenu ul.navListTop2 {

    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 0;
    
}
div.midClassMenu ul.navListTop2 li.listItem2 {
	list-style: none;
    font-family: Arial Black;
    padding: 0px;
    height: 40px;
    width: 120px;
    line-height: 40px;
    border: none;
    font-size: 20px;   
    display:inline-block;
}
div.midClassMenu ul.navListTop2 li.listItem2 a.categoryA{
	display: block;
    color: black;
    text-decoration: none;
    width: 180px;
   
}

div.midClassMenu ul.navListTop2 li.listItem2 a.categoryA:hover{
	font-size:30px;
	color: #6E6E6E;
	cursor: pointer;
}

/*-------------------------- 카드 --------------------------*/

/* ------- 타이틀 설정 -------- */
.s_mainTitle {
   position:relative;
   left:15%;
   font-size: 43px;
   font-weight: 900;
   margin-bottom:2px;
}

/* -------- 카드 프레임 설정 -------- */
.sCard_container {
   max-width: 1050px;
   width: 100%;
   padding: 0 4%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.s_Card {
   width: 100%;
   max-width: 400px;
   min-width: 400px;
   height: 450px;   /*메인 높이*/
   background-color: #0C0C12;
   margin-top: 20px;
   margin-left: 34px;
   margin-right: 34px;
   color: white; 
   border-radius: 10px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
   position: relative;
   overflow: hidden; /*hover 이미지확대 시 공간을 벗어나지 않게 */
}

/*반응형*/
@media screen and (max-width: 800px) {
   .sCard_container {
      flex-direction: column;
   }
}


/* ----- slider controller 셋팅 ----- */
.s_slider {text-align: center;}
.s_slider i{color: black;}


/* -------- 카드 세부 셋팅 --------- */
/* 카드 이미지 이미지 셋팅 */
.s_img {
   width: 400px;
   height: 250px; 
   overflow: hidden; /*넘치는 부분 보이지 않기*/
}
.s_img img{
  width: 400px;
  height: 250px;
  object-fit: cover;
}


/* 버튼 셋팅 */
.s_new_best_like {
	font-size: 12px; 
	margin: 20px;
	margin-top:14px;
	margin-bottom: 14px;
}

.s_NewNBestBtn {
	border:0;
	border-radius: 3px;
	font-size: 15px;  
	width:52px;
	padding: 5px;
	margin-right: 3px;
	font-weight: 600;
	color:white;
	background-color:red;
}

.s_likeBtn {
	border:0;
	border-radius: 3px;
	font-size: 15px;  
	width:52px;
	padding: 5px;
	font-weight: 600;
	color:white;
	background-color:gray;
	cursor: pointer;
}

.s_overBtn {
	border:0;
	border-radius: 3px;
	font-size: 15px;  
	width:90px;
	padding: 5px;
	font-weight: 600;
	color:white;
	background-color:gray;
	cursor: pointer;
}


/* 카드 이미지 텍스트 설정 */
.s_title {
	font-size: 22px;  
	margin: 20px;
	margin-bottom: 5px;
	color: #F2F0EC;
	height:60px; 
	font-weight: 800;
	cursor: pointer;
}

.s_teacher {
	font-size: 13px;   
	margin: 0 20px;
	font-weight: 800;
	color: lightgray;
}

.s_card_hr{
	border: 0px;
	height: 1px;
	background-color: white;
	opacity: .7;
}




/* --------hover---------- */
/*위로 올라가기*/
.s_Card:hover {
   transform:translateY(-12px);  
   position:relative;
   transition: all 0.7s ease;   
}

/*이미지 확대*/
.s_Card:hover .s_img{
   	transition: all 0.7s ease;
   	transform:scale(1.07);
   	width: 100%;
}

/*좋아요 버튼*/
.s_likeBtn:hover {
	color:black;
}

/* 윤아 css~~ */
.carousel-inner > .carousel-item > img{  width: 80%; height: 500px;  }

* {box-sizing: border-box;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
#carouselExampleIndicators1{
	width: 70%;
	margin:auto;
	float: center;
	position: relative;
}
#carouselExampleFade1{
	width: 70%;
	margin: auto;
}
#typing1 {
   display: inline-block;
   animation-name: cursor;
   animation-duration: 0.3s;
   animation-iteration-count: infinite;
 }
@keyframes cursor{
    0%{border-right: 1px solid #fff}
    50%{border-right: 1px solid #000}
    100%{border-right: 1px solid #fff}
}

/* 선생님이 되어보세요*/
.teacherBox{
	height:500px;
	width:1345px;
	border-radius:10px;
	margin-top:100px;
	margin-bottom:50px;
}

#onedayClassOpenBtn{
 	font-size:15px;
	font-weight: 550;
	border-radius:7px;
	border:none;
	height:50px;
	width:130px;
	margin-right:74%;
	margin-top:250px;
}
#onedayClassOpenBtn:hover{
	background-color:#FAF8DB;
}

#getInterest{
 	position: absolute !important;
	float: right;
	width: 10%;

   top:0 !important;
   right:0 !important;
   margin-top: 60px;
   margin-right: 30px;
  
}
#crawlingProperties{
	/* border: dashed;
	border-color: blue; */
	width: 10%;
	height: 50%;
	position: absolute;
	top:0 !important;
    left:0 !important;
    margin-top: 60px;
    margin-left: 30px;
}
#coronaCrawling{
	/* border: dashed;
    border-color: red; */
    width: 90%;
    height: 80px;
    position: relative;
    float: left;
    
	
}
#weatherCrawling{
	/* border: dashed;
	border-color: green; */
      width: 100%;
    height: 100px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin: auto;
	overflow: hidden;
}
#blogCrawling{
	/* border: dashed;
	border-color: blue; */
	width: 10%;
	height: 1200px;
	position: absolute;
	top:0 !important;
    right:0 !important;
    margin-top: 200px;
    margin-right: 30px;
	
}
#psyClassList{
	position: relative;
	
}

