@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');

/* 태민 css~~ */
/* 헤더사이즈 */
body,html {
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
     
} 
div.header {

    margin: 0;
    padding: 0;
	z-index: 10;
	width: 100%;
    height: 80px;
    position: fixed;
    float: left;
     overflow: hidden;
    line-height: 100px;
    background-color: black;
    
}

/* 로고 Aclap 물결같은 애니메이션 효과 */

div.header nav.topMenu div.logoTop {
	position: relative;
	width: 30%;
	height: 80px;
	float: left;
	padding-left: 200pt;
	padding-top: 30pt;
	
}
div.header nav.topMenu div.logoTop h2.aclap {
	color: #ffffff;
	font-size: 4em;
	position: absolute;
	transform: translate(-50%, -50%);
	font-family: 'Pacifico', cursive;
	font-family: 'Righteous', cursive;
	
}

div.header nav.topMenu div.logoTop h2.aclap:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #ffffff;
}

div.header nav.topMenu div.logoTop h2.aclap:nth-child(2) {
	color: #ffffff;
	animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


/* 헤더메뉴 리스트 */
div.header nav.topMenu div.menuTop2 {
	position: relative;
   	height: 80px;
    float: right !important;
    width: 65%;
    margin-top: 4px;
    left:500px;
    	
}

@media screen and (max-width: 1350px) {
  #midText12 {
    display: none;
  }
}

div.header nav.topMenu div.menuTop2 ul.navListTop {
	list-style-type: none;
    width: 100%;
    height: 100px;
    display: flex;
    margin: 0;
    padding: 0;

}
div.header nav.topMenu div.menuTop2 ul.navListTop li.listItem {
    float: left;
    list-style: none;
    margin-top: 1em;
    padding-right: 40px;
     height: 30px;
    line-height: 30px;
}


div.header nav.topMenu div.menuTop2 ul.navListTop li.listItem a.hoverable {
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
}



/* 텍스트 애니메이션 */
.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
  
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

div.header nav.topMenu div.menuTop2 ul.navListTop li.listItem a.hoverable:hover{
	color: #088A4B;
	cursor: pointer;
}




@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

.navTrigger {
    display: none;
}

/* 창 변환 사이즈값 */
@media screen and (max-width:1200px) {
    .navTrigger {
        display: block;
    }
    
    div.header nav.topMenu div.menuTop2 {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    div.header nav.topMenu div.show_list {
        height: auto;
        display: none;
    }
    div.header nav.topMenu div.menuTop2 ul.navListTop {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000000;
        /*same background color of navbar*/
        background-position: center top;
        line-height: 20px;
    }
    div.header nav.topMenu div.menuTop2 ul.navListTop li.listItem {
        width: 100%;
        text-align: right;
        color: #ff0080;
        font-size: 14pt;
        z-index: 2;
        position: relative;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    div.header nav.topMenu div.menuTop2 ul.navListTop li.listItem a {
        text-align: center;
        width: 100%;
        color: #ff0080;
        font-size: 14pt;
        padding: 30px;
       
    }
	.nav div.main_list ul li ul.dropdownlist{
	 	transition: all 0.3s;
	 	opacity: 0;
	 	position: absolute;
	 	visibility: hidden;
  		left:-23% !important; 
  		top: -50% !important;
	}
	.nav div.main_list ul li:hover > ul.dropdownlist{
		opacity: 1;
		visibility: visible;
		z-index:3;
	}
	
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}


@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


/* --------마이페이지 버튼 및 모달 셋팅 ---------- */
#len5{
	border-radius: 50%;
	width:50px;
	height:50px;
	object-fit: cover
}
#len5:hover{
	cursor: pointer;
}
#len6{
	border-radius: 50%;
	width:50px;
	height:50px;
}
#len6:hover{
	cursor: pointer;
}

/* MODAL */
.hide_modal {
   opacity: 0;
   visibility: hidden;
}
.show_modal {
    opacity: 1;
    visibility: visible;
}
.Manager_hide_modal {
   opacity: 0;
   visibility: hidden;
}
.Manager_show_modal {
    opacity: 1;
    visibility: visible;
}
.login_Modal_Content{
	position: fixed; 
 	top: 8.6%;
	left:74%;  
	z-index:1000; 	
	padding: 1rem 1.5rem;
	background-color:white;
	width: 380px;
	height: 410px;
	border-radius: 0.5rem;
	text-align:center;
	box-shadow: 3px 2px 5px #66676B;
}
.Manager_Modal_Content{
	position: fixed; 
 	top: 8.6%;
	left:74%;  
	z-index:1000; 	
	padding: 1rem 1.5rem;
	background-color:white;
	width: 380px;
	height: 420px;
	border-radius: 0.5rem;
	text-align:center;
	box-shadow: 3px 2px 5px #66676B;
}
.login_Modal_Show {
	opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.02s 0s;
} 
.loginModalImg{
	border-radius: 50%;
	width:90px;
	height:90px;
	object-fit: cover;
	margin-top:10px;
}
.loginModalNickName{
	padding-top:13px;
	font-size: 21px;
}
.loginModalEmail{
	font-size: 16px;
	position: relative;
	top: -1%;
	color:#5F6368;
}
.myPageButton{
	border-radius: 22px;
	margin-top: 17px;	
	color:#3C4043;
	border-color:#DADCE0;
	height:45px;
	width:140px;
	border: none;
}
.myPageButton:hover{
	background-color:#d6d6d6;
	color:black;
	border-color:#E6DFDC;
}
.loginHr1{
	margin-top:22px;
	margin-bottom:20px;
}
.loginHr2{
	margin-bottom:20px;
}
.loginNewContent{
	height:30px;
	font-size:15px;
	color:#5F6368;
}
.myPointCheck{
	font-size:15px;
	color:#5F6368;
}
.logoutButton{
	border-radius: 5px;
	height:42px;
	width:200px;
	color:#3C4043;
	border-color:#DADCE0;
	font-size:18px;
	border:none;
}
.logoutButton:hover{
	background-color:#d6d6d6;
	color:black;
	border-color:#E6DFDC;
}

nav .badge {
  display: block;
  position: absolute;
  top: 10px;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}

nav .badge.red {
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}