@charset "UTF-8";
/*메인 컨테이너 */
.onedayClassContaier{
	margin-top:80px;
	margin-left:400px;
	margin-right:400px;
}
/*---- 이미지 박스 A ----*/
.onedayClassImageBoxA{
	width:1120px;
	height:400px;
	margin-bottom:100px;
}
.ocImgFrameA2{
	width:300px;
	height:400px;
	overflow: hidden;
}
.ocImgA2{
	width:300px;
	height:400px;
	object-fit: cover;
}
.ocImgFrameA1{
	width:317.5px;
	height:200px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgA1{
	width:317.5px;
	height:200px;
	object-fit: cover;
}
.ocImgFrameA3{
	width:317.5px;
	height:200px;
	overflow: hidden;
	padding-left:10px;
	padding-top:10px;
}
.ocImgA3{
	width:317.5px;
	height:200px;
	object-fit: cover;
}
.ocImgFrameA4{
	width:240x;
	height:400px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgA4{
	width:240px;
	height:400px;
	object-fit: cover;
}
.ocImgFrameA5{
	width:252px;
	height:400px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgA5{
	width:252px;
	height:400px;
	object-fit: cover;
}
.ocImgFrameA5{
	width:252px;
	height:400px;
	object-fit: cover;
}

/*---- 이미지 박스 B ----*/
.onedayClassImageBoxB{
	width:1120px;
	height:400px;
	margin-bottom:100px;
}
.ocImgFrameB1{
	width:317.5px;
	height:200px;
	overflow: hidden;
}
.ocImgB1{
	width:317.5px;
	height:200px;
  	object-fit: cover;
}
.ocImgFrameB2{
	width:317.5px;
	height:200px;
	overflow:hidden;
	padding-top:10px;	
}
.ocImgB2{
	width:317.5px;
	height:200px;
	object-fit: cover;
}
.ocImgFrameB3{
	width:230px;
	height:400px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgB3{
	width:230px;
	height:400px;
	object-fit: cover;
}
.ocImgFrameB4{
	width:300px;
	height:400px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgB4{
	width:300px;
	height:400px;
	object-fit: cover;
	
}
.ocImgFrameB5{
	width:272.5px;
	height:400px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgB5{
	width:272.5px;
	height:400px;
	object-fit: cover;	
}

/*---- 이미지 박스 C ----*/
.onedayClassImageBoxC{
	width:1120px;
	height:400px;
	margin-bottom:100px;
}
.ocImgFrameC2{
	width:317.5px;
	height:200px;
	overflow: hidden;
}
.ocImgC2{
	width:317.5px;
	height:200px;
	object-fit: cover;
}
.ocImgFrameC3{
	width:317.5px;
	height:200px;
	overflow:hidden;
	padding-top:10px;	
}
.ocImgC3{
	width:317.5px;
	height:200px;
	object-fit: cover;
}
.ocImgFrameC4{
	width:485px;
	height:400px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgC4{
	width:485px;
	height:400px;
	object-fit: cover;
}
.ocImgFrameC1{
	width:317.5px;
	height:200px;
	overflow: hidden;
	padding-left:10px;
}
.ocImgC1{
	width:317.5px;
	height:200px;
	object-fit: cover;
}
.ocImgFrameC5{
	width:317.5px;
	height:200px;
	overflow: hidden;
	padding-left:10px;
	padding-top:10px;
}
.ocImgC5{
	width:317.5px;
	height:200px;
	object-fit: cover;
}



.ocSubTitle{  
	font-size:27px;
	font-weight: 550;
	margin-bottom:10px;
}

/*--------- 선생님  소개 --------*/
.ocTeacherImg{
	height:70px;
	width:70px;
	object-fit: cover;
	border-radius: 50%;
}
.ocTeacherMail{
	font-size:16px;
	padding-top:3px;
}

	
/*-----------  주소검색 -------*/
#keyword1{
	margin-left:6px;
	margin-top:15px;
	margin-bottom:15px;
	border:none;
	background-color: #F5F2F5;
	width:300px;
	height:30px;
	border-radius: 5px;
}
#keyword2{
	margin-left:3px;
	margin-top:15px;
	margin-bottom:15px;
	border:none;
	background-color: #F5F2F5;
	width:150px;
	height:30px;
	border-radius: 5px;
}
.placeSav{
	margin-left:2px;
	height:32px;
	width:60px;
	border:none;
	background-color: white;
	border-radius: 5px;
}
.placeBtn{
	height:32px;
	width:100px;
	border:none;
	background-color: white;
	border-radius: 5px;
}
.placeBtn:hover{
	cursor: pointer;
}


 /*---- 이미지박스 선택 ----*/
.onedayClassImageSelector{ 
	width:100%;
	height:60px;
	margin-bottom:5px;
	margin-left:1px;
}
.layerBtnChoice{
	float:right;
	font-size:20px;
	border:none;
	height:35px;
	width:74px;
	border-radius: 2px;
	margin-left:12px;
	background-color:#98A4A6;	
	color:white;
}
.layerBtnNonChoice{
	float:right;
	font-size:20px;
	border:none;
	height:35px;
	width:74px;
	border-radius: 2px;
	margin-left:11px;
	background-color:#F5F2F5;	
}
.layerBtnChoice:hover{
	cursor: pointer;
}
.layerBtnNonChoice:hover{
	cursor: pointer;
}
.classInfo{
	font-size:20px;
	margin-top:18px;
}

/*챕터 디자인*/
.chapterText{
	text-align:center;
	font-size:100px;
	font-weight: 900;
	font-family: 'Roboto';	
	padding-top:50px;
}
.ExplicateText{
	font-size:25px;
	font-weight: 900;
	font-family: 'Roboto';	
}

/*--------- 네비바 -------*/
.OCWriteTxt {
  font-family: verdana, sans-serif;
  font-weight: bold;
  text-align: right;
  position: relative;
  left:-10px;
}
#OCbtn1 {
  top: 250px;
  background-color: gray;
  color:white;
}
#OCbtn2 {
  top: 310px;
  color:black;
  background-color: white;
}
#OCbtn3 {
  top: 370px;
  color:black;
  background-color: white;

}
#OCbtn4 {
  top: 430px;
  color:black;
  background-color: white;
}
#OCbtn5 {
  top: 490px;
  color:black;
  background-color: white;
}
#OCSubmitTxt{
  font-family: verdana, sans-serif;
  font-weight: bold;
  position: relative;
  background-color:white;
}
div.navBtn {
  border: none;
  border-radius: 30px;
  width: 540px;
  height: 50px;
  position: fixed;
  left: -475px;
  transition: .7s ease;
}
div.navBtn:hover {
  cursor:pointer;
  background-color:#F9EAD7;
  position: fixed;
  left: -50px;
  width: 340px;
  border-radius: 0px;
}
div.OCSubmitBtn {
  border: none;
  width: 120px;
  position: fixed;
  top: 300px;
  right:-50px;
  transition: .7s ease;
}
div.OCSubmitBtn:hover {
	background-color:blue;
  cursor:pointer;
  position: fixed;
  right: -40px;
  width: 200px;
}



/*카테고리 디자인*/
.CategoryStyle{
	height:40px;
	width:230px;
	font-size:20px;
	border-radius: 3px;
	border:none;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}
#_OCtitleInput{
	margin-top:10px;
	font-size:32px;
	font-weight: 600;
	padding-bottom:9px;
	height:50px;
	width:100%;
	border-radius: 3px;
	border:none;
}
#_OCinfomation{
	margin-top:10px;
	width:100%;
	height:140px;
	border-radius: 3px;
	border:none;
	font-size:20px;
	font-weight: 600;
	margin-bottom:100px;
}
#_OCcontent{
	margin-top:10px;
	margin-bottom:20px;
	width:100%;
	height:250px;
	border-radius: 3px;
	border:none;
	font-size:20px;
	font-weight: 600;
}


#_duration{
	height:30px;
	width:120px;
	font-size:15px;
	border-radius: 3px;
	border:none;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;	
}
.OCIcon{
	position: relative;
	top:5px;
}
#_limitNum{
	height:30px;
	width:120px;
	font-size:15px;
	border-radius: 3px;
	border:none;
	margin-right:10px;
	margin-top:7px;
	margin-bottom:10px;	
}
#_preparation{
	padding-top:2px;
	font-size:15px;
	font-weight: 600;
	height:30px;
	width:300px;
	border-radius: 3px;
	border:none;
	margin-bottom:50px;
}
#_price{
	padding-top:2px;
	font-size:15px;
	font-weight: 600;
	height:30px;
	width:150px;
	border-radius: 3px;
	border:none;
	margin-bottom:50px;
}
.OCdateText{
	font-size:15px;
	font-weight: 600;
}
.OCdate{
	margin-top:7px;
	border-radius: 3px;
	border:none;
	margin-right:50px;
}
.noClassBox{
	font-size:17px;
}
#_aboutMeInput{
	margin-bottom:20px;
	width:1000px;
	height:200px;
	border-radius: 3px;
	border:none;
	font-size:20px;
	font-weight: 600;
}
#_youtubeLinkInput{
	margin-top:10px;
	font-size:18px;
	font-weight: 600;
	height:30px;
	width:350px;
	border-radius: 3px;
	border:none;
	margin-bottom:50px;
}
.OCWriteAfBtn{
	border:none;
	width:75%;
	height:70px;
	font-size:40px;
	border-radius: 10px;
}