@charset "UTF-8";
.openContainer{
	padding-left:120px;
	padding-right:120px;
	margin:0 auto;
	background-color:#F1C50E;
}
.openSort{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}
.openMaintTextBox{
	padding-left:40px;
	margin-top:350px;
}
.openTitle{
	font-family: Playfair display;
	font-weight: 800;
	font-size:120px;
	padding-bottom: 30px;
}
.openSubTitle{
	font-family: Playfair display;
	font-weight: 800;
	font-size:22px;
}
.openThirdTitle{
	font-family:Open Sans;
}
.openMainImage{
	width:800px;
}

/* 컨텐츠 */
/* 1920*1080 */
.content-margin{
	margin-top:250px;
	margin-left:150px;
	margin-right:150px;
}
/* 2560*1600*/
/* 
.content-margin{
	margin-top:250px;
	margin-left:80px;
	margin-right:80px;
}
 */
.contentImgBox{
}

.contentImg{
	width:600px;
	border-radius: 20px;
}
.contentImgText{
	font-family:Roboto;
	font-size:150px;
	font-weight: 1000;
	letter-spacing:10px;
	color:white;
	z-index: 1;
	position: relative;
	top:-110px;
	left:170px;
}
.contentTextBox{
	border-radius: 20px;
	background-color:white;
	width: 600px;
	height:600px;
}
.contentTextTitle{
	font-family: Roboto;
	font-size:33px;
	font-weight: 740;
	color:#478AC9;
	margin-top:120px;
	margin-left:50px;
	margin-bottom:50px;
}
.contentText{
    font-family:Open Sans;
	margin-left:50px;
	margin-right:50px;
	font-size:24px;
}
.sliderControll{
	text-align:center;
	position: relative;
	top:-125px;
}
.sliderColor{
	color:white;
}
.sliderColor:hover{
	color:#478AC9;
}

/*contact*/
.makeClassBox{
	margin-top:100px;
	margin-left:150px;
	height:500px;
}
.makeClasstext1{
	font-family: Open Sans;
	font-style: italic;
	font-size: 18px;
	font-weight: 700;
}
.circle-dark-dashed {
  border-radius: 2.4em;
  border: 4px dashed white;
  width: 240px;
  height: 240px;
  margin-top:2px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.makeClasstext2{
	padding-top:49px;
	text-align:center;
	font-family: Roboto;
	font-size:50px;
	font-weight: 800;
	line-height: 65px;
}
.circle-dark-dashed:hover {
	cursor: pointer;
	color:white;
	font-weight: 830;
	border: 4px dashed black;
}
.makeClasstext3{
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 650;
}
.contactInfo{
	margin-top:100px;
	margin-left:60px;
}
.contactInfoTitle{
	font-family:Roboto;
	font-size: 25px;
	font-weight: 750;
	margin-bottom: 10px;
}
.contactInfoContent{
	font-family:Open Sans;
	font-size:18px;
	margin-bottom: 13px;
}
.contactMail{
	margin-top:100px;
	margin-right:150px;
}
.s_inputTextCss{
	font-family: Open Sans;
	width: 350px;
	height:45px;
	font-size:18px;
	border-radius: 5px;
	border:none;
	margin-bottom: 8px;
}
.s_inputTextAeraCss{
	font-family: Open Sans;
	width:350px;
	height:170px;
	border-radius: 5px;
	border:none;
	margin-bottom: 5px;
}
#contactMailAf{
	font-family:Roboto;
	font-size: 15px;
	font-weight: 700;
	height:45px;
	width: 120px;
	background-color:black;
	border-radius: 5px;
	border:none;
	color:white;
}